.footer {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 5px 0;
  height: 40px;
  background-color: $color-main;;
  
  &__links {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  &__element {
    margin-right: 15px;
  
    &:last-child {
      margin-right: 0px;
    }
  }
}

.github__img {
  width: 30px;
  height: 30px;
  background-image: url(../assets/img/github.svg);
  background-size: contain;
  opacity: .5;
  transition: all .2s ease-in-out;

  &:hover {
    opacity: 1;
  }
}

.year-app {
  font-family: Poppins, sans-serif;
  font-weight: 200;
  font-size: 20px;
}

.logo-course__img {
  width: 65px;
  height: 30px;
  background-image: url(../assets/img/rs.svg);
  background-size: contain;
  background-repeat: no-repeat;
  opacity: .5;
  transition: all .2s ease-in-out;

  &:hover {
    opacity: 1;
  }
}
