.page {
  display: flex;
  align-items: center;
  font-family: Poppins, sans-serif;
  font-size: 16px;

  &-btn {
    padding: 5px 10px;
    border-radius: 15px;
    font-family: Poppins, sans-serif;
    font-size: 18px;
    background-color: $color-main;
    border: none;
    cursor: pointer;
    transition: all .3s ease;

    &:not(:disabled):hover {
      background-color: $color-main-hover;
    }
  }

  &__number {
    margin: 0 5px;
    display: flex;
  }
}